[submodule "bundle/buftabs"]
	path = bundle/buftabs
	url = git://github.com/vim-scripts/buftabs.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-command-t"]
	path = bundle/vim-command-t
	url = git://github.com/vim-scripts/Command-T.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/vim-scripts/molokai.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-blackboard"]
	path = bundle/vim-blackboard
	url = git://github.com/nelstrom/vim-blackboard.git
[submodule "bundle/vim-HTML-AutoCloseTag"]
	path = bundle/vim-HTML-AutoCloseTag
	url = git://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "bundle/vim-searchComplete"]
	path = bundle/vim-searchComplete
	url = git://github.com/vim-scripts/SearchComplete.git
[submodule "bundle/vim-gitolite"]
	path = bundle/vim-gitolite
	url = git://github.com/tmatilai/gitolite.vim.git
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-bind"]
	path = bundle/vim-bind
	url = git://github.com/netdata/vim-bind.git
